

/* .home-container{
    width: 100%;
    height: 100%;
} */

.home-container {
  /* width: 100%; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  background-color: #f0f7ff;
}
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.search-input:focus {
  border-color: #007bff; /* Màu viền khi focus */
}

.search-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}