.layout-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}
.outlet-container {
    width: 100%;
    height: 730px;
    background-color: #fff;
    padding-top: 88px;
    padding-bottom: 66px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}