.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.outlet-container {
  flex: 1;
  width: 100%;
  /* Đẩy nội dung xuống dưới header một khoảng bằng chiều cao của header */
  padding-top: 72px;
  background-color: #fff;
  box-sizing: border-box;
}
